*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    color: white;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://wallpapers.com/images/high/spider-man-ps4-4k-p0yqqbgtt2p3t7e5.webp");
    background-size: 100% 100%;
    background-position: center;
    background-clip: content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#nav{
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0.8% 10%;
    font-size: 1.3vmax;
    background: transparent;
    backdrop-filter: blur(2px);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin-bottom: 2.5%;

    a{
        text-decoration: none;
        color: white;
    }
}